

.todo-wrapper {
    padding: 0.6rem 0.313rem 0.6rem 0.313rem;

    .test {
        //border: 1px red solid;
        .spinner-size {
            width: 3rem;
            height: 3rem;
        }
    }
}
