@use '../../../global-scss/color-palette/main-colors' as var;

.animation-wrapper{
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .inline {
    color: var.$main_green;
    animation: spin 1s linear infinite;
    width: 2rem;
    height: 2rem;
  }
      
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }  
  }
}


