@use '../../../global-scss/color-palette/main-colors/main-colors' as var;
@use '../../../global-scss/color-palette/secondery/secondery-colors' as sec_var;


.floated-bt {
    color: sec_var.$icon_color_main;
    position: absolute;
    top: 51%;
    transform: translateY(-50%);
}


.input-section-main {
    overflow: hidden;
    border-top-left-radius: 0.625rem;
    border-top-right-radius: 0.625rem;
    position: sticky;
    width: 99%;
    height: 4.7rem;
    display: flex;
    align-items: center;
    margin: auto auto 0 auto ;
    bottom: 0px;
    background-color: var.$secondery_light;
    padding: 0 0  0.100rem 0;


    .function-bt-add {
        @extend .floated-bt;
        right: 10px;
        background-color:  sec_var.$intle_bule;
    }

    .function-bt-search {
        right: 70px;
        @extend .floated-bt;
        background-color: sec_var.$secondery_green;
    }

    .function-bt {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}