@use '../../../global-scss/color-palette/main-colors' as var;

.input-section-main {

    overflow: hidden;
    border-radius: 0.625rem;
    position: sticky;
    width: 99%;
    margin: 0 auto;
    bottom: 0.200rem;
    background-color: var.$secondery_light
}